<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css"/>
</head>
<body>

  <form action="/" method = "POST">
<select name="comp_select" class="Input">
    {% for o,h in allUsers.items() %}
    <option value="{{h}}">{{o}}</option>
    {% endfor %}
    <p><input type = "submit" value = "submit" /></p>
</select>
</form>
   

    <p>SUM {{pocetHodin}} hours or {{pocetDni}} days</p>

    

    <table id="myTable" class="table">
      <tr class="table__header">
         
         <th class="table__cell">Task ID</th>
         <th class="table__cell">Time in min</th>
         
      </tr>
      {% for id, time in diskOfIdTimedict %}
      <tr class="table__row">
        
          <td class="table__cell">{{id}}</td>
          <td class="table__cell">{{time}}</td> 
      </tr>
      {% endfor %}   

  </table>

    


</body>
</html>